<div class="chat-header">
  <div class ="left-header">
    <div class = "header-title">
    <% if user_signed_in?%>
      ユーザ名
      <% else %>
      新規登録もしくはログインしてださい
      <% end %>
    </div>
  </div>

   <% unless user_signed_in? %>
  <div class = "users-edit">
    <div class = "user-edit">
      <%= link_to"新規登録", new_user_registration_path, class:"btn" %>
    </div>
  </div>
  <% else %>
      <div class = "users-edit">
    <div class = "user-edit">
     <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'btn'%>

      </div>
      </div>
   <% end %>

  <div class = "right-header">
    <div class ="header-button">
      <a href = "#">チャットを終了する</a>
    </div>
  </div>
</div>

<div class="messages">
<div class="message">
    <div class="upper-message">
      <div class="message-user">
        ユーザ名
      </div>
      <div class="message-date">
       投稿時間
      </div>
    </div>
    <div class="lower-message">
      <div class="message-content">
        メッセージ
      </div>
    </div>
  </div>

  <div class="message">
    <div class="upper-message">
      <div class="message-user">
        ユーザ名
      </div>
      <div class="message-date">
        投稿時間
      </div>
    </div>
    <div class="lower-message">
      <div class="message-content">
        メッセージ
      </div>
    </div>
  </div>
</div>

<div class="form">
  <div class="form-input">
    <input class="form-message" placeholder= "type a message">
      <label class="form-image">
         <span class = "image-fole">画像</span>
         <input type="file" class="hidden">
      </label>
  </div>
  <input class="form-submit" type="submit" value="送信">
</div>