<div class="side-bar-header">
  <div class = "header-name">
    <a href = "#">ユーザ名</a>
    <a href ="#">チャットを作成する</a>
  </div>
</div >

<div class="rooms">
  <div class = "room">
    <div class = "room-name">
    <a href = "#">サンプル部屋</a>
    </div>
  </div>

  <div class="room">
    <div class = "room-name">
      <a href = "#">サンプル部屋２</a>
     </div>
   </div>

</div>
